@mixin contrasting-foreground($bg-color) {
    $contrasting-body-color: color-contrast($bg-color);

    --bs-body-color: #{$contrasting-body-color};
    --bs-body-color-rgb: #{to-rgb($contrasting-body-color)};

    --bs-border-color: #{rgba($contrasting-body-color, 0.3)};
    --bs-border-color-translucent: #{rgba($contrasting-body-color, 0.3)};
}
