@import "../../../../node_modules/bootstrap/scss/functions";
@import '../../../core/ui/variables';
@import "../../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../../node_modules/bootstrap/scss/maps";
@import "../../../../node_modules/bootstrap/scss/mixins";

.gameSize {
  margin: auto;
  max-width: 450px;

  @include media-breakpoint-up(sm) {
    margin: auto;
    max-width: 450px;
  }
  @include media-breakpoint-up(md) {
    margin: auto;
    max-width: 50vh;
  }
  @include media-breakpoint-up(lg) {
    margin: auto;
    max-width: 60vh;
  }
}
