$lightest: #ffffff;
$darkest: #262626;

$body-bg: $darkest;
$body-color: $lightest;

$color-contrast-dark:      $body-bg;
$color-contrast-light:     $body-color;

$primary: #00DDDD;
$primary-text: $body-bg;

$secondary: #aaaaaa;
$secondary-text: $body-bg;

$success: #00ff00;
$success-text: $body-color;

$info: #006aff;
$info-text: $body-bg;

$warning: #ffc107;
$warning-text: $body-color;

$danger: #dc3545;
$danger-text: $body-bg;

$light: #aaaaaa;
$light-text: $body-color;

$dark: #aaaaaa;
$dark-text: $body-color;

$lcd: #9ab05d;
$lcd-text: $body-color;

$spacer: 1rem;

$font-size-base: 1.5rem;

$font-family-base: 'VT323';

$border-width: 3px;
$border-color: rgba($body-color, 0.3);

$border-radius: 0;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

$link-decoration: underline;

$code-color: $lcd;

$text-muted: rgba($body-color, 0.5);

$box-shadow-inset: inset 0 1px 2px rgba(#000000, 0.5);

$box-shadow-sm-dimensions: 0 0.125rem 0.25rem;
$box-shadow-sm-opacity: 0.3;
$box-shadow-sm: #{$box-shadow-sm-dimensions} rgba(#000000, $box-shadow-sm-opacity);

$box-shadow-dimensions: 0 0.5rem 1rem;
$box-shadow-opacity: 0.4;
$box-shadow: #{$box-shadow-dimensions} rgba(#000000, $box-shadow-opacity);

$box-shadow-lg-dimensions: 0 1rem 3rem;
$box-shadow-lg-opacity: 0.5;
$box-shadow-lg: #{$box-shadow-lg-dimensions} rgba(#000000, $box-shadow-lg-opacity);

@import "./functions";
@import "../../node_modules/bootstrap/scss/variables";


$theme-colors: map-merge(
    $theme-colors,
    (
        "primary-text": $primary-text,
        "secondary-text": $secondary-text,
        "success-text": $success-text,
        "info-text": $info-text,
        "warning-text": $warning-text,
        "danger-text": $danger-text,
        "light-text": $light-text,
        "dark-text": $dark-text,
    )
  )